#section1{
	margin-top: -500px;
	height: 400px;
	margin-bottom: 200px;
}

.intro-section{
	padding-top: 20%;
	text-align: center;
	color:white;
}

.parallax{
	background-image: url("file:///C:/Users/Rajat/Websites/Conquer/Conquer_remake/img/bg-1.jpg");
	height:600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;	
}
.card{
	margin:1.66%;
	width: 30%;
	padding: 0px;
	background-color: rgba(0,0,0,5%);
	
}
a.btn{
	position: bottom;
	margin: 0 80px;	
}
